@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 outline-none box-border;
  }
  Ul,
  ol {
    @apply list-none;
  }
  a {
    @apply no-underline;
  }
  img {
    @apply align-middle;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  li,
  ul,
  ol,
  li,
  div {
    @apply m-0 p-0;
  }
}

@layer components {
  .body_bgcolor {
    @apply bg-gradient-to-r from-bodyfromcolor to-bodytocolor;
  }

  .icon__overlay {
    position: relative;
    z-index: 1;
  }
  .icon__overlay::after {
    position: absolute;
    width: 4rem;
    height: 4rem;
    content: "";
    z-index: -1;
    background-color: #ffaf0f;
    top: -29px;
    left: -2.33px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0.7;
  }

  .service__list {
    @apply pb-3 pl-5 relative;
  }

  .service__list:hover {
    @apply text-orangecolor;
  }

  .service__list::after {
    @apply absolute w-2 h-2 content-[""] bg-orangecolor rounded-full top-[7px] left-0;
  }
}
